.footer-col1 {
    max-width: 340px;
    width: 100%;
}

.footer-col2 {
    margin: 0 0 0 140px;
    max-width: 260px;
    width: 100%;
}

.footer-col2 ul {
    margin: 0;
    padding: 0;
}

.footer-col2 li {
    margin: 0 0 25px 0;
}

footer h3, .footer-logo {
    font-size: 25px;
    margin: 0 0 25px 0;
}

footer a, footer p {
    color: #1D1D1D;
    font-size: 22px;
    margin: 0 0 25px 0;
    line-height: 150%;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    color: #0C70F2;
}

footer  .social-links a {
    margin: 25px 40px 0 0;
}

.footer-copy {
    margin: 155px 0 50px 0;
}

.footer-copy .langs-area {
    column-gap: 23px;
}

@media (max-width: 768px) {
    .footer-col2 {
        margin: 0 0 0 0;
        max-width: 100%;
        width: 100%;
    }

    .footer-col1 {
        max-width: 100%;
        width: 100%;
    }
}