header {
    background-color: white;
    padding: 50px 0;
}

header ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a {
    color: #1D1D1D;
    font-size: 20px;
    text-decoration: none;
    margin: 0 0 0 50px;
}

nav a:hover {
    color: #0C70F2;
}