.button {
    border-radius: 18px;
    border: none;
    column-gap: 10px;
    cursor: pointer;
    display: flex;
    font-size: 18px;
    font-weight: 600;
    padding: 25px 50px;
    transition: background-color 0.3s;
}

/* PRIMARY BUTTON */
.button.primary {
    background-color: #0C70F2;
    color: white;
}

.button.primary:hover {
    background-color: #024daf;
}

/* SECONDARY COLOR */
.button.secondary {
    background-color: #1D1D1D;
    color: white;
}

.button.button.secondary:hover {
    background-color: #363333;
}

/* OUTLINE BUTTON */
.button.outline {
    background-color: white;
    border: 2px solid #0C70F2;
    color: #0C70F2;
}

.button.outline:hover {
    background-color: #0C70F2;
    color: white;
}

/* DISABLED */
.button:disabled, .button:disabled>:hover {
    background-color: #CCCCCC;
    color: #666666;
    pointer-events: none;
}
