@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  min-height: 100vh;
  font-family: "Jost", sans-serif;
  font-weight: 400;
  color: #292F36;
  background-color: white;
}

a {
  text-decoration: none;
}

/* CORES PRINCIPAIS */

.primary-background {
  background-color: #0C70F2;
}

.primary-color {
  color: #0C70F2;
}

.secondary-background {
  background-color: #1D1D1D;
}

.secondary-color {
  color: #1D1D1D;
}

.tertiary-background {
  background-color: #F6F6F6;
}

.tertiary-color {
  color: #F6F6F6;
}

/* GRIDS */

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1140px;
  position: relative;
  padding: 0 30px;
}

.d-flex {
  display: flex;
}

.d-grid {
  display: grid;
}

.al-center {
  align-items: center;
}

.al-end {
  align-items: end;
}

.al-start {
  align-items: start;
}

.jc-space-between {
  justify-content: space-between;
}

.jc-center {
  justify-content: center;
}

.jc-end {
  justify-content: end;
}

.fd-column {
  flex-direction: column;
}

@media(max-width: 768px) {
  .container {
    width: 90%;
  }

  .mobile-fd-column {
    flex-direction: column;
  }
}